@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<HeadContent>
    @*<link href="css/styles.css?@(Configuration["BuildNumber"])" rel="stylesheet" />*@
    <link href="css/styles.css?@(DateTime.Now.ToString("O"))" rel="stylesheet" />
</HeadContent>
<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>